*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, rgba(242,238,231,1) 0%, rgba(234,229,218,1) 35%, rgba(229,223,206,1) 100%) fixed;
}
.outer {
  min-height: calc(100vh - 2rem);
}
.container {
  height: calc(100vh-3em) !important;
  background: hsla(51, 76%, 95%, 0.7);
  box-shadow: 2px 9px 12px 5px hsla(41, 74%, 35%, 0.123);
  transition: all 1.5s ease;
}
nav {
  font-family: "Encode Sans Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
  border-color: transparent !important;
}
.navbar-brand {
  color: #b89d4c !important;
  font-size: 1.75rem !important;
}


.form-control:focus {
  border-color: #eae8e1 !important;
  border: 2px solid #eae8e1 !important;
  box-shadow: 4px 5px 9px 6px rgb(223, 215, 195, 0.12) !important;
}
button {
  background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(228,228,228,1) 60%, rgba(222,222,222,1) 100%) !important;
  border: 0.5px solid hsla(52, 38%, 73%, 0.113) !important;
  box-shadow: 1px 2px 4px 1px hsla(41, 26%, 49%, 0.362) !important;
}
button:active {
  background: hsla(45, 10%, 85%, 0.933) !important;
}
.textBox {
  height: auto !important;
  overflow: visible !important;
  color: #615e51 !important;
  font-family: "Manrope", serif !important;
  font-optical-sizing: auto;
  font-weight: 325;
  font-style: normal;
  font-size: 0.9rem;
  box-shadow: 4px 5px 9px 6px rgb(224, 217, 199, 0.12) !important;
  box-shadow: inset 2px 3px 5px 2px rgb(238, 233, 221, 0.15);
  border: 0.5px solid #f1efe9 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.textBox::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}
.textBox::-webkit-scrollbar-track {
  background: #e9e8e2;        /* color of the tracking area */
}
.textBox::-webkit-scrollbar-thumb {
  background-color: #f1eee9;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #e0dbd1;  /* creates padding around scroll thumb */
  cursor: pointer;
}

.before {
  background: #fff !important;
}
.after {
  background: #fbfbf9 !important;
}
.text-after {
  color: #70706b !important;
}
h6 {
  margin-bottom: 0 !important;
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}
.title {
  font-family: "Sofia Sans Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem !important;
  font-style: normal;
}
.subheading {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
.text {
  line-height: 1.4rem !important;
  border: 0.5px solid #f7f6f2 !important;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
.special-width {
  width: 22% !important;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #e9e8e2;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #f1eee9;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #e0dbd1;  /* creates padding around scroll thumb */
  cursor: pointer;
}

@media (min-width: 100px) {
  .width {
    width: auto !important;
  }
}

@media (min-width: 992px) {
    .container {
        max-width: 98% !important;;
    }
    .width {
      width: 15vw !important;
    }
}