*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: auto;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(180deg, rgba(242,238,231,1) 0%, rgba(234,229,218,1) 35%, rgba(229,223,206,1) 100%) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.outer {

}
nav {
  font-family: "Encode Sans Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
  border-color: transparent !important;
}
.navbar-brand {
  color: #b89d4c !important;
}
.container {
  max-height: auto;
  min-height: calc(100vh - 3rem);
  background: hsla(51, 76%, 95%, 0.7);
  box-shadow: 2px 9px 12px 5px hsla(41, 74%, 35%, 0.123);
  transition: all 1.5s ease;
  margin: 0 auto;
}

.form-control:focus {
  border-color: #eae8e1 !important;
  border: 2px solid #eae8e1 !important;
  box-shadow: 4px 5px 9px 6px rgb(223, 215, 195, 0.12) !important;
}
button {
  background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(228,228,228,1) 60%, rgba(222,222,222,1) 100%) !important;
  border: 0.5px solid hsla(52, 38%, 73%, 0.113) !important;
  box-shadow: 1px 2px 4px 1px hsla(41, 26%, 49%, 0.362) !important;
}
button:active {
  background: hsla(45, 10%, 85%, 0.933) !important;
}
.textBox {
  height: auto !important;
  overflow: visible !important;
  color: #d6d4cd !important;
  font-family: "Manrope", serif !important;
  font-optical-sizing: auto;
  font-weight: 325;
  font-style: normal;
  font-size: 0.9rem;
  background: linear-gradient(180deg, rgba(248,246,244,1) 0%, rgba(246,243,240,1) 44%, rgba(244,242,238,1) 90%, rgba(244,242,240,1) 100%) !important;
  box-shadow: 4px 5px 9px 6px rgb(224, 217, 199, 0.12) !important;
  box-shadow: inset 2px 3px 5px 2px rgb(238, 233, 221, 0.15);
  border: 0.5px solid #f1efe9 !important;
}
h6 {
  margin-bottom: 0 !important;
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}
.title {
  font-family: "Sofia Sans Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem !important;
  font-style: normal;
}
.text {
  line-height: 1.4rem !important;
  border: 0.5px solid #f7f6f2 !important;
}

@media (min-width: 992px) {
    .container {
        max-width: 98% !important;;
    }
}